/* ---- Generic ---- */

[aria-hidden=true] {
	display: none !important;
}

[aria-busy=true] {
	cursor: wait;
}

/* ---- tablist, tab, tabpanel ---- */

[role~=tablist] {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

[role~=tab] {
	float: left;
	margin: 1px;
	padding: 0.8ex 1.2ex;
	cursor: pointer;
}

[role~=tab]:focus {
	outline: 1px dotted black;
}

[role~=tabpanel] {
	clear: both;
}

/* ---- tree, treeitem, group ---- */

[role~=tree], [role~=tree] [role~=group] {
	margin: 0; padding:0;
	list-style-type: none;
}

[role~=treeitem] {
	cursor: pointer;
	padding: 0 1ex 0 3px;
}

[role~=tree] [role~=group] {
	padding-left: 1em;
}

[role~=tree] .expander {
	display: inline-block;
	padding: 0;
	margin-right: 0.5ex;
	vertical-align: middle;
	visibility: hidden;
	position: relative;
	width: 9px;
	height: 9px;
	background-image: url(expander.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

[role~=treeitem][aria-expanded] > .expander {
	visibility: visible;
}

[role~=treeitem][aria-expanded=false] > .expander {
	background-position: 0 -9px;
}

/* ---- dialog ---- */

[role~=dialog] {
	position: absolute;
}

