/* ---- Layout ---- */

.ui-layout {
	position: relative;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.ui-layout-center { position: absolute; top: 0; bottom: 0; left: 0; right: 0; overflow: auto; border: none; }
.ui-layout-north { position: absolute; top: 0; left: 0; right: 0; border-left: none; border-top: none; border-right: none; }
.ui-layout-east { position: absolute; top: 0; right: 0; bottom: 0; border-right: none; border-top: none; border-bottom: none; }
.ui-layout-south { position: absolute; bottom: 0; left: 0; right: 0; border-left: none; border-bottom: none; border-right: none; }
.ui-layout-west { position: absolute; top: 0; left: 0; bottom: 0; border-top: none; border-right: none; border-bottom: none; }

.ui-layout-editor {
	overflow: hidden;
}
.ui-layout-editor textarea {
	width: 100%;
	height: 100%;
	border: none !important;
	overflow: auto;
	padding: 0;
	margin: 0;
	resize: none;
}

