.ui-tree .ui-tree-item {
	cursor: pointer;
	padding: 0 1ex 0 3px;
}

.ui-tree .ui-tree-group {
	padding-left: 1em;
}

.ui-tree .ui-tree-item .ui-tree-toggle {
	float: left;
}

.ui-tree .ui-tree-item .ui-tree-toggle-none {
	visibility: hidden;
}

