body {
	font-size: 9pt;
}

#editor-dialog {
	width: 200px;
	height: 200px;
	min-width: 100px;
	min-height: 100px;
	top: 50px;
	left: 100px;
}

#editor-dialog .ui-layout-north {
	border-top: none;
	border-left: none;
	border-right: none;
}

#editor-dialog .ui-layout-south .buttons {
	float: right;
	margin: 0 16px 0 4px;
	padding: 8px 0;
	font-size: 8pt;
}

