@import url(../external/ui/themes/base/ui.all.css);
@import url(../dist/theme/ui.tree.css);
@import url(../dist/theme/ui.button.css);
@import url(../dist/theme/ui.toolbar.css);
@import url(../dist/theme/ui.layout.css);
@import url(../dist/theme/ui.scrollable.css);

body {
	font-size: 9pt;
}

.role-dialog {
	width: 300px;
	height: 200px;
	min-width: 180px;
	min-height: 150px;
	top: 50px;
	left: 100px;
}

.role-dialog .ui-layout-south .buttons {
	float: right;
	margin: 0 16px 0 4px;
	padding: 8px 0;
	font-size: 8pt;
}

.role-dialog .ui-tabs-nav li a {
	padding: 0.2ex 1ex;
}

.ui-toolbar {
	margin-bottom: 1em;
}

